.form-daf {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    font-family: "Inria Serif"
  }
  
  ::placeholder {
    font-weight: 500;
    color: #3a3838;
  }
  
  .button-cekdaftarharga {
    width: 150px;
    margin-top: 20px;
    background-color: #a7d397;
    display: block;
    float: right;
  }

  .wrappedform {
    margin-top: 50px;
    /* margin-left: 150px; */
    margin-bottom: 100px;
    padding-left: 30px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 80px;
    box-sizing: border-box;
    background-color: #e8e8e8;
    border-radius: 10px;
  }

  .table {
    margin-right: 100px;
  }

 @media screen and (min-width: 425px) {
    .wrappedform {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        padding: 30px;
        background-color: #a7d397;
        border: none;
    }
    .td {
        font-size: 9px;
    }
 } 
  