.navbar-list {
  display: flex;
  background-color: #a7d397;
  background-size: cover;
  /* justify-content: start; */
  align-items: center;
  text-align: left;
  height: 84px;
  /* width: 1443px; */
  padding: 0px;
  /* max-width: 100%; */
  margin-bottom: 0px;
  opacity: 10;
  font-family: "Inria Serif";
  font-size: 18px;
  width: 100%;
  /* position: fixed; */
  z-index: 1;
  top: 0;
}

.item-nav {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 20px; */
  margin: 20 0px;
  padding: 0 25px;
  color: white;
  display: block;
  /* text-align: right; */
  float: right;
}

.mobile-item-nav {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary {
  display: flex;
  justify-content: center;
  width: 100vh;
  height: 8vh;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #cae962;
  color: #212222;
}

.btn.btn-primary:hover {
  color: #212222;
  background-color: #b6e90e;
}

.card-1 {
  box-sizing: border-box;
  width: 150px;
  border: 1px solid;
  border-radius: 10px;
  row-gap: 10px;
  padding: 16px 3px;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-family: sans-serif;
  word-break: break-word;
  position: relative;
  height: 150px;
  min-height: 140px;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.card-twilight {
  box-sizing: border-box;
  /* width: 150px; */
  border: 1px solid;
  border-radius: 10px;
  row-gap: 10px;
  padding: 16px 3px;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-family: sans-serif;
  word-break: break-word;
  position: relative;
  height: 200px;
  min-height: 140px;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  width: 150px;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.clicked-diamond {
  background-color: #e3f2b2;
}
.cads-flex {
  display: flex;
  flex-wrap: wrap;
}

.diamonds {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.twilightpass {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-beli {
  width: 150px;
  margin-top: 15px;
  background-color: #a7d397;
}

.button-beli.btn.btn-secondary {
  background-color: #a7d397;
}

.form-control {
  order: 1;
}

.form-control.zone-input {
  order: 1;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 100dvh;
}

.game-flex {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  box-sizing: border-box;
  width: 150px;
  border: 1px solid;
  border-radius: 10px;
  row-gap: 10px;
  padding: 16px 3px;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-family: sans-serif;
  word-break: break-word;
  position: relative;
  height: 150px;
  min-height: 140px;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin-right: 15px;
  margin-top: 230px !important;
  text-align: center;
  margin: auto;
}

.metode-pembayaran {
  box-sizing: border-box;
  width: 521px;
  border: 1px solid;
  border-radius: 10px;
  /* row-gap: 10px; */
  padding: 16px 3px;
  align-items: center;
  justify-content: center;
  font-size: 0rem;
  font-family: sans-serif;
  word-break: break-word;
  position: relative;
  height: 86px;
  /* min-height: 140px; */
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.clicked-pembayaran {
  background-color: #e3f2b2;
}

.meth-flex {
  display: flex;
  flex-wrap: wrap;
}

.image {
  display: flex;
  margin-left: 30px;
  margin-top: 8px;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.footer-links {
  width: 100%;
  display: grid;
  row-gap: 2rem;
  background-color: black;
  padding: 1rem 1.5rem;
  position: relative;
  color: white;
  bottom: 0px;
  z-index: 1;
}

.App {
  min-height: 100vh;
  display: grid;
  /* align-items: flex-end;
  justify-content: center; */
  position: relative;
}

.wrappedform {
  margin-top: 50px;
  /* margin-left: 150px; */
  margin-bottom: 100px;
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 80px;
  box-sizing: border-box;
  background-color: #e8e8e8;
  border-radius: 10px;
}

.form-pes {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.button-cekpesanan {
  width: 150px;
  margin-top: 20px;
  background-color: #a7d397;
  display: block;
  float: right;
}

.button-cekpesanan.btn.btn-secondary {
  background-color: #a7d397;
}

@media only screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media only screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media screen and (max-width: 1536px) {
  .navbar-list {
    padding: 0 20px;
    background-color: #a7d397;
    background-size: cover;
  }

  .item-nav {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-nav {
    display: none;
    margin-top: 1rem;
  }

  .mobile-item-nav {
    display: flex;
    background-color: #a7d397;
    background-size: cover;
    /* justify-content: start; */
    align-items: center;
    text-align: left;
    height: 84px;
    /* width: 1443px; */
    padding: 0px;
    /* max-width: 100%; */
    margin-bottom: 0px;
    opacity: 0.8;
    font-family: "Inria Serif";
    font-size: 18px;
  }
}
@media (min-width: 375px) {
  & {
    grid-template-columns: repeat(2, 1fr);

    &-links {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1012px) {
  & {
    grid-template-columns: repeat(3, 1fr);

    &-links {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1440px) {
  & {
    padding: 1 rem calc((100vw - 1440px) / 2);
  }
}
