.navbar-list {
  display: flex;
  background-color: #a7d397;
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  height: 84px;
  /* width: 1443px; */
  padding: 10px 20px;
  /* max-width: 100%; */
  margin-bottom: 0px;
  opacity: 10;
  font-family: "Inria Serif";
  font-size: 18px;
  width: 100%;
  /* position: fixed; */
  z-index: 1;
  top: 0;
}

.malls {
  flex-shrink: 0;
  align-items: center;
}

.item-nav {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  gap: 20px;
  /* margin-left: 20px; */
  margin: 20 0px;
  padding: 0 25px;
  color: white;
  display: block;
  /* text-align: right; */
  /* float: right; */
}

.nav-item {
  text-decoration: none;
  color: black;
  font-size: 16px; /* Adjust font size as needed */
  margin-left: 20px; /* Space between links */
}

.mobile-item-nav {
  display: none;
}

.drop {
  display: flex;
  justify-content: flex-end;
  font-family: "Inria Serif";
  font-size: 18px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary {
  display: flex;
  justify-content: center;
  width: 100vh;
  height: 8vh;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #cae962;
  color: #212222;
}

.btn.btn-primary:hover {
  color: #212222;
  background-color: #b6e90e;
}

.card-1 {
  box-sizing: border-box;
  width: 150px;
  border: 1px solid;
  border-radius: 10px;
  row-gap: 10px;
  padding: 16px 3px;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-family: sans-serif;
  word-break: break-word;
  position: relative;
  height: 150px;
  min-height: 140px;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.card-twilight {
  box-sizing: border-box;
  /* width: 150px; */
  border: 1px solid;
  border-radius: 10px;
  row-gap: 10px;
  padding: 16px 3px;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-family: sans-serif;
  word-break: break-word;
  position: relative;
  height: 200px;
  min-height: 140px;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  width: 150px;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.clicked-diamond {
  background-color: #e3f2b2;
}

.pl-3 {
  margin-top: 20px;
  font-family: "Inria Serif";
}

/* .my-3 {
  font-family: "Inria Serif";
} */

.cads-flex {
  display: flex;
  flex-wrap: wrap;
}

.diamonds {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.twilightpass {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-beli {
  width: 150px;
  margin-top: 15px;
  background-color: #a7d397;
  margin-bottom: 20px;
}

.button-beli.btn.btn-secondary {
  background-color: #a7d397;
  font-family: "Inria Serif";
}

.form-control {
  order: 1;
}

.form-control.zone-input {
  order: 1;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 100dvh;
}

.game-flex {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  box-sizing: border-box;
  width: 150px;
  border: 1px solid;
  border-radius: 10px;
  row-gap: 10px;
  padding: 16px 3px;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-family: "Inria Serif";  
  word-break: break-word;
  position: relative;
  height: 150px;
  min-height: 140px;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin-right: 15px;
  margin-top: 230px !important;
  text-align: center;
  margin: auto;
}

.metode-pembayaran {
  display: flex;
  box-sizing: border-box;
  width: 521px;
  border: 1px solid;
  border-radius: 10px;
  /* row-gap: 10px; */
  padding: 16px 3px;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-family: "Inria Serif";
  word-break: break-word;
  position: relative;
  height: 86px;
  /* min-height: 140px; */
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  cursor: pointer;  
}

.clicked-pembayaran {
  background-color: #e3f2b2;
}

.meth-flex {
  display: flex;
  flex-wrap: wrap;
}

.text-pembayaran {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.image {
  display: flex;
  margin-left: 30px;
  margin-top: 8px;
  align-items: center;
  justify-content: flex-start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.footer-links {
  width: 100%;
  display: grid;
  row-gap: 2rem;
  background-color: black;
  padding: 1rem 1.5rem;
  position: relative;
  color: white;
  bottom: 0px;
  z-index: 1;
  font-family: "Inria Serif"
}

.App {
  min-height: 100vh;
  display: grid;
  /* align-items: flex-end;
  justify-content: center; */
  position: relative;
}

.wrappedform {
  margin-top: 50px;
  /* margin-left: 150px; */
  margin-bottom: 100px;
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 80px;
  box-sizing: border-box;
  background-color: #e8e8e8;
  border-radius: 10px;
}

.form-pes {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  font-family: "Inria Serif"
}

.form-daf {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  font-family: "Inria Serif"
}

.button-cekpesanan {
  width: 150px;
  margin-top: 20px;
  background-color: #a7d397;
  display: block;
  float: right;
}

.form-log {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 480px;
  padding: 30px;
  border-radius: 10%;
  background-color: #a7d397;
  border: none;
}

.login-box header {
  text-align: center;
  margin: 10px 0 40px 0;
  font-size: 30px;
  font-style: initial;
  font-weight: 500;
}

.login-box .input-field {
  width: 100%;
  height: 60%;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 25px;
  border-radius: 10%;
  border: none;
  box-shadow: 0px 5px 10px rgba(91, 29, 236, 0.05);
  outline: none;
  transition: 0.3s;
}

::placeholder {
  font-weight: 500;
  color: #3a3838;
}

.input-field:focus {
  transform: scale(110%);
}

.forgot {
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
}

section {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
}

#check {
  margin-right: 10px;
}

.forgot label {
  color: #212222;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #4000ff;
}

section a {
  color: #212222;
}

.input-submit {
  position: relative;
}

.submit-btn {
  width: 100%;
  height: 50px;
  background: #212222;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.input-submit label {
  position: absolute;
  top: 45%;
  left: 50%;
  color: #fff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.submit-btn:hover {
  background: #a7d397;
  transform: scale(1.05, 1);
}

.sign-up-link {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

.sign-up-link a {
  color: #fff;
  font-weight: 600;
}

.sign-up-link p {
  color: #fff;
}

.form-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.signup-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 480px;
  padding: 30px;
  border-radius: 10%;
  background-color: #a7d397;
  border: none;
}

.signup-box header {
  text-align: center;
  margin: 10px 0 40px 0;
  font-size: 30px;
  font-style: initial;
  font-weight: 500;
}

.signup-box .input-field {
  width: 100%;
  height: 60%;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 25px;
  border-radius: 10%;
  border: none;
  box-shadow: 0px 5px 10px rgba(91, 29, 236, 0.05);
  outline: none;
  transition: 0.3s;
}

.collabs-row {
  background-color: #a7d397;
  border-radius: 10px;
}

.collabs-row .first-row {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.collabs-row .second-row {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.time-section {
  display: inline-block;
  margin-left: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  left: 50%;
}

.time-section:first-child {
  margin-left: 0;
}

img.image-footer {
  aspect-ratio: 1 / 1;
  margin-top: 10px;
}

p.text-footer {
  font-family: "Inria Serif";
  font-size: 10px;
  color: #b6e90e;
}
.time-section > .value {
  background-color: #212222;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  font-size: 70px;
  color: #fff;
  line-height: 100px;
  text-align: center;
}

.time-label {
  font-size: 11px;
  padding-top: 4px;
  text-align: center;
}
.scan-code {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.info-row {
  display: block;
  background-color: #a7d397;
  border-radius: 10px;
  margin: 0 0 0px 0;
}

.first-info header {
  display: flex;
  margin: 10px 0 20px 10px;
  /* margin-left: 10px; */
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

.second-info {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cara-row {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.order-info_row {
  display: flex;
  padding: 8px;
  font-family: sans-serif;
}

.order-info_row .first-col {
  color: #b6e90e;
  width: 40%;
  align-self: center;
}

.order-info_row .second-col {
  padding-left: 20px;
  width: 59%;
  color: #b6e90e;
  word-break: break-all;
}

.button-cekdaftarharga {
  width: 150px;
  margin-top: 20px;
  background-color: #a7d397;
  display: block;
  float: right;
}

.table {
  margin-right: 100px;
}

@media only screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media only screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media screen and (max-width: 1536px) {
  .navbar-list {
    padding: 0 20px;
    background-color: #a7d397;
    background-size: cover;
  }

  .item-nav {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* .navbar-list {
    flex-direction: column;
    align-items: flex-start;
  } */

  .item-nav {
    display: none;
    margin-top: 1rem;
  }

  .mobile-item-nav {
    display: flex;
    background-color: #a7d397;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    height: 84px;
    /* width: 1443px; */
    padding: 0px;
    /* max-width: 100%; */
    margin-bottom: 0px;
    opacity: 0.8;
    font-family: "Inria Serif";
    font-size: 18px;
  }

  .login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 340px;
    padding: 30px;
    border-radius: 10%;
    background-color: #a7d397;
    border: none;
  }

  .signup-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 340px;
    padding: 30px;
    border-radius: 10%;
    background-color: #a7d397;
    border: none;
  }
}
@media (min-width: 375px) {
  & {
    grid-template-columns: repeat(2, 1fr);

    &-links {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1012px) {
  & {
    grid-template-columns: repeat(3, 1fr);

    &-links {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1440px) {
  & {
    padding: 1 rem calc((100vw - 1440px) / 2);
  }
}
